@import url("reset.css");

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #08c;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  max-width: 850px;
  text-align: center;
  margin-top: 40px;
  padding-top: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.7em;
  font-weight: normal;
  line-height: 50px;

  /* letter-spacing: 5px; */
  max-width: 800px;
  text-align: center;
  padding-top: 40px;

  /* opacity: 0.8; */
}

main {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar-main {
  grid-column: 1/5;
  width: 100%;
  min-height: 538px;
  background: url("/assets/images/your_verse_hero.jpg");
  background-position: center -778px;
  object-fit: cover;
  object-fit: contain;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #999;
  background: -moz-linear-gradient(top, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  background: -webkit-linear-gradient(top, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  background: linear-gradient(to bottom, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  width: 980px;
  height: 36px;
  box-shadow: 1px 0  #555;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  border-right: 1px solid #616161;
  box-sizing: border-box;
  font-weight: bolder;
  text-shadow: 0 -1px  #444;
  width: 100%;
  text-align: center;
  padding: 12px;
}

.navbar-main > a {
  color: white;
  font-size: 1.3rem;
  margin-top: 45px;
  height: 25px;
  opacity: 0.8;
  background: url("https://web.archive.org/web/20140226220920im_/http://images.apple.com/home/images/cta_your_verse_27pt_2x.png");
  background-repeat: no-repeat;
  background-position: -160px 0;
  background-size: 800px;
}

.right-ft > a {
  line-height: 1.2;
  padding-right: 6px;
  margin-left: 6px;
  border-right: 1px solid rgba(102, 102, 102, 0.349);
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  background-color: rgba(29, 29, 29, 0.548);
  text-decoration: none;
}

nav a:first-child {
  background: url("/assets/images/applewesitenav.svg") 50% 0 no-repeat;
}

.right-ft a:last-child {
  border-right: none;
}

.navbar-main > a:hover {
  background: url("https://web.archive.org/web/20140226220920im_/http://images.apple.com/home/images/cta_your_verse_27pt_2x.png");
  background-repeat: no-repeat;
  background-position: -160px -26px;
  background-size: 800px;
}

nav a:first-child:hover {
  border-radius: 4px 0 0 4px;
}

input[type=search] {
  height: 20px;
  align-self: center;
  background: url("/assets/images/apple_search_icon.svg") 5px 5px no-repeat, -moz-linear-gradient(top, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  background: url("/assets/images/apple_search_icon.svg") 5px 5px no-repeat, -webkit-linear-gradient(top, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  background: url("/assets/images/apple_search_icon.svg") 5px 5px no-repeat, linear-gradient(to bottom, #999 0%, #999 12%, #898989 31%, #757575 50%, #666 51%, #666 51%, #757575 80%, #8e8e8e 97%, #8e8e8e 98%, #8e8e8e 99%, #828282 99%, #828282 99%, #8e8e8e 99%, #6b6b6b 100%);
  width: 100px;
  border-top: 1px solid #505050;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0 5px;
  box-shadow: inset 0 1px 1px rgba(65, 65, 65, 0.758);
  margin: 0 5px;
  transition: 0.3s ease-out;
}

input[type=search]:focus,
input[type=search]:active {
  background: white;
  width: 250px;
  transition: 1s ease-in-out;
}

h3 {
  opacity: 0;
}

.iphone5s {
  grid-column: 1/2;
  background: url("https://web.archive.org/web/20140419112642im_/http://images.apple.com/home/images/promo_iphone5s_2x.jpg");
}

.iphone5c {
  grid-column: 2/3;
  background: url("https://web.archive.org/web/20140419112642im_/http://images.apple.com/home/images/promo_iphone5c_2x.jpg");
}

.birthdaymac {
  grid-column: 3/4;
  background: url("https://web.archive.org/web/20140226015601im_/http://images.apple.com/home/images/promo_30_years_2x.jpg");
}

.verse_story {
  grid-column: 4/5;
  background: url("https://web.archive.org/web/20140223180930im_/http://images.apple.com/home/images/promo_supplier_responsibility_2x.jpg");
}

.under-icons {
  background-size: cover;
  background-origin: border-box;
  background-clip: padding-box;
  width: 100%;
  min-height: 200px;
  cursor: pointer;
}

footer {
  grid-column: 1/5;
  height: 90px;
  justify-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

p {
  padding-top: 15px;
  padding-right: 100px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #6e6e6e;
  font-size: 10px;
  line-height: 1.2;
}

.right-ft {
  padding-top: 15px;
  font-size: 10px;
}
